<ul class='unstyled custom-container' data-view="GlobalNavigation NavigationActive" data-active-class="nav-selected" data-active-selector="li">
  <li data-match-url='/*'>
    <a href='<%= TentStatus.settings[:url] || "/" %>'><div class='nav-icon app-icon-tentstatus icon-2x'></div></a>
  </li>

  <% if TentStatus.settings[:search_enabled] %>
    <li data-match-url='/search'>
      <a href='/search' title='Search'><div class='nav-icon app-icon-search icon-2x'></div></a>
    </li>
  <% end %>

  <% if TentStatus.settings[:admin_url] %>
    <li>
      <a href='<%= TentStatus.settings[:admin_url] %>' title='Admin'><div class='nav-icon app-icon-settings icon-2x'></div></a>
    </li>
  <% end %>

  <li>
    <a data-view="AuthButton" data-signout-title='Sign out' data-signin-title="Sign in">
      <div class='nav-icon app-icon-signout icon-2x'></div>
    </a>
  </li>
</ul>
