<ul class='unstyled custom-container' id='global-nav'>
  <li class='nav-selected'>
    <a href='<%= TentStatus.settings[:url] || "/" %>'><div class='nav-icon app-icon-tentstatus icon-2x'></div></a>
  </li>

  <% if TentStatus.settings[:admin_url] %>
    <li>
      <a href='<%= TentStatus.settings[:admin_url] %>' title='Admin'><div class='nav-icon app-icon-settings icon-2x'></div></a>
    </li>
  <% end %>

  <li>
    <a title='Signout' data-view="SignoutButton">
      <div class='nav-icon app-icon-signout icon-2x'></div>
    </a>
  </li>
</ul>
