<ul class='unstyled custom-container' data-view="GlobalNavigation NavigationActive" data-active-class="nav-selected" data-active-selector="li">
  <% TentStatus.settings[:global_nav_config]['items'].to_a.each do |item| %>
    <li <% if item['selected'] %>class='nav-selected'<% end %> <% if item['url'] === TentStatus.settings[:url] %>data-match-url='/*'<% end %> <% if item['url'].match(/\/search\Z/) %>data-match-url='/search'<% end %>>
      <a href='<%= item['url'] %>' title='<%= item['name'] %>'><div class='nav-icon icon-2x <%= item['icon_class'] %>'></div></a>
    </li>
  <% end %>

  <li>
    <a data-view="AuthButton" data-signout-title='Sign out' data-signin-title="Sign in">
      <div class='nav-icon app-icon-signout icon-2x'></div>
    </a>
  </li>
</ul>
