<form class='form-horizontal' action='<%= full_path('/auth/tent') %>' method='POST'>
  <div class='control-group'>
    <label class='control-label'>Your Entity URI</label>
    <div class='controls'>
      <input class='input-xlarge' type='text' name='entity' placeholder='https://johndoe.example.com' />&nbsp;
      <input class='btn btn-success' type='submit' value='Login' />
    </div>
</form>
