form.form-horizontal action=full_path('/auth/tent') method='POST'

  .control-group
    label.control-label Your Entity URI
    .controls
      input.input-xxlarge type='text' name='entity' placeholder='https://johndoe.example.com' &nbsp;
      input.btn.btn-success type='submit' value='Login'
