a href='https://#{tent_host_domain}/terms' Terms 
' |
a href='https://#{tent_host_domain}/privacy' Privacy 
' |
a href='https://#{tent_host_domain}/partners' Partners 
' |
a href='https://tent.io' More about Tent 
' |
a href='mailto:contact@#{tent_host_domain}' Contact 
' |
| &copy; 2012 Apollic Software, LLC  
