.brand
  - if current_entity
      a href==self_url_root = user_brand
  - else
    a href=self_url_root = app_title

.nav-collapse
  .clearfix
    - if (current_user || guest_user)
      ul.nav
        li
          a href=full_url('/profile') Profile
        li
          a href=full_url('/mentions') Mentions
        li
          a href=full_url('/followers') Followers
        li
          a href=full_url('/followings') Following
        li.position-relative
          a#new_post_button href=full_url('#') New Post
          #new_post_popdown.popover.bottom
            .arrow &nbsp;
            .popover-content
              div data-view='NewPostForm'
        li
          a href=full_url('/signout') Signout
    - else
      ul.nav.pull-right
        li
          a href=full_url('/auth') Login
