{{#config.authenticated}}
<div class='actions'>
  <span class='action' data-view='PostActionReply'><i class='icon-reply' title='Reply'></i> Reply</span>

  {{^current_user_owns_post}}
  <span class='action' data-view='PostActionRepost' data-confirm="Repost?"><i class='icon-retweet' title='Repost'></i> Repost</span>
  {{/current_user_owns_post}}

  {{^is_conversation_view}}
  <span class='action' data-view='PostActionConversation'><i class='icon-comments' title='Conversation'></i>

    {{^in_reply_to}}
    Conversation
    {{/in_reply_to}}

    {{#in_reply_to}}
    {{#config.authenticated}}
    <span>
      in reply to {{name}}
    </span>
    {{/config.authenticated}}
    {{/in_reply_to}}
  </span>
  {{/is_conversation_view}}

  {{#is_conversation_view_parent}}
  {{#in_reply_to}}
  <span class='action' data-view='PostActionConversation'><i class='icon-comments' title='Conversation'></i>
    <span>
      in reply to {{name}}
    </span>
  </span>
  {{/in_reply_to}}
  {{/is_conversation_view_parent}}

  {{#current_user_owns_post}}
  <span class='action' data-view='PostActionDelete' data-confirm="Delete this post? You're sure about that?"><i class='icon-trash' title='Delete'></i> Delete</span>
  {{/current_user_owns_post}}

</div>
{{/config.authenticated}}

