<div class='row'>
  <div data-view='SearchForm'></div>
</div>

<div class='row'>
  <div data-view='SearchHits'></div>
  <div data-view='SearchFetchPool'></div>
  <ul class='unstyled posts' data-view='SearchResults'></ul>
</div>
