@import "./mixins";

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

// Clearfix
// Source: http://nicolasgallagher.com/micro-clearfix-hack/
//
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    contenteditable attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that are clearfixed.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.
%clearfix {
  &:before,
  &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  &:after {
    clear: both;
  }
}

$lightGrayColor: #eeeeee;
$darkGrayColor: #777777;
$almostBlackColor: #2C2C2C;

#app-nav {
	position: fixed;
	top: 0;
	right: auto;
	bottom: 0;
	left: 0;
	width: 150px;

	background: $lightGrayColor;
	border-right: 1px solid darken($lightGrayColor, 5%);
	font-size: 1rem;

	> ul {
		list-style: none;
		margin: 0;
		text-align: left;

		> li {
			border: 1px solid $lightGrayColor;
			border-left: 0;
			border-right: 0;

			> a {
				display: block;
				text-decoration: none;
				padding: 0.75rem;
				padding-left: 20px;
				color: $darkGrayColor;

				@include transition(color, ease, 0.2s, 0s);

				> i {
					display: inline-block;
					width: 16px;
					margin-right: 0.5rem;
				}

				&:hover {
					color: $almostBlackColor;
				}
			}

			&.active {
				background-color: lighten($lightGrayColor, 5%);
				border-color: darken($lightGrayColor, 10%);
				> a {
					color: $almostBlackColor;
				}
			}
		}
	}
}

.posts {
	> ul {
		list-style: none;
		margin: 0;

		> li {
			margin-bottom: 1rem;
		}
	}
}

.post {
	@extend %clearfix;
	> .avatar {
		float: left;
		margin-right: 1rem;
	}

	> header {
		display: inline-block;
		> h2 {
			display: inline-block;
			margin: 0;
			font-size: 1rem;
			font-weight: 600;
			line-height: 1rem;
		}
	}

	> .content {
		margin-left: calc(42px + 1rem);
		> p {
			margin: 0;
		}
	}
}
