.nav-icon {
	color:$mainColor;
	padding:5px;

	border-width:1px;
	border-style:solid;
	border-radius: 4px;

	@include background-image(linear-gradient(lighten($mainColor, 5%), $mainColor));
	background-color: lighten($mainColor, 10%);
	border-color: darken($mainColor, 7%);
	@include text-shadow(0 -1px 0 darken($mainColor, 10%));
	color:darken($mainColor, 5%);
}

@function em($px, $base: $baseFontSize) {
	@return ($px / $base) * 1em;
}