$paragraphFont: 'Helvetica Neue', 'Helvetica', Arial, Ubuntu, Verdana, sans-serif;
$paragraphFont: 'PT Sans';
$paragraphFont: 'Source Sans Pro';
$headingFont: $paragraphFont;
$mainColor: #00B55A;
$secondaryColor: #eeeeee;
$whiteColor: #ffffff;
$dangerColor: #FF0404;

$paragraphColor: #333333;
$grayTextColor: #777777;

$vNavWidth: 108px;
$navIconMargin: 10px;

$baseFontSize: 14px;
$lineHeight: 18px;

$feedWidth: 43em;
