$paragraphFont: 'Helvetica Neue', 'Helvetica', Arial, Ubuntu, Verdana, sans-serif;

$mainColor: #00B55A;
$secondaryColor: #eeeeee;
$whiteColor: #ffffff;

$vNavWidth: 68px;
$navIconMargin: 10px;

$baseFontSize: 14px;
$lineHeight: 18px;