@import './mixins.css.scss';

$black: #2C2C2C;
$gray: #E6E6E6;
$dark_gray: #7B7B7B;
$blue: #00a6ff;
$green: #35aa47;
$white: #fefefe;

$delta: 80px;
$span1: 60px;
$span2: $span1 + $delta;
$span3: $span2 + $delta;
$span4: $span3 + $delta;
$span5: $span4 + $delta;
$span6: $span5 + $delta;
$span7: $span6 + $delta;
$span8: $span7 + $delta;
$span9: $span8 + $delta;
$span10: $span9 + $delta;
$span11: $span10 + $delta;
$span12: $span11 + $delta;

$content_width: $span7;
$post_body_width: $span6;
$repost_width: $post_body_width - 60px;

