@import './mixins.css.scss';

$blue: #0099ff;

.m-btn.blue {
  @include button-gradient($blue);
}

.m-btn.blue:hover,
.m-btn.blue:focus,
.m-btn.blue:active,
.m-btn.blue.active,
.m-btn.blue[disabled],
.m-btn.blue.disabled {
  @include disabled-button-gradient($blue);
}

.m-btn.blue:active,
.m-btn.blue.active {
  @include active-button-gradient($blue);
}
