@function em($px, $base: $baseFontSize) {
  @return ($px / $base) * 1em;
}

@mixin rounded($amount) {
  -webkit-border-radius: $amount;
  -moz-border-radius: $amount;
  border-radius: $amount;
}

@mixin rotate($amount) {
  -webkit-transform:rotate($amount);
  -moz-transform:rotate($amount);
  -o-transform: rotate($amount);
}

@mixin border-bottom-left-radius($amount) {
  -webkit-border-bottom-left-radius: $amount;
  -moz-border-bottom-left-radius: $amount;
  border-bottom-left-radius: $amount;
}

@mixin border-bottom-right-radius($amount) {
  -webkit-border-bottom-right-radius: $amount;
  -moz-border-bottom-right-radius: $amount;
  border-bottom-right-radius: $amount;
}

@mixin border-top-left-radius($amount) {
  -webkit-border-top-left-radius: $amount;
  -moz-border-top-left-radius: $amount;
  border-top-left-radius: $amount;
}

@mixin border-top-right-radius($amount) {
  -webkit-border-top-right-radius: $amount;
  -moz-border-top-right-radius: $amount;
  border-top-right-radius: $amount;
}

@mixin transition($property, $fn, $duration, $delay) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $fn;
  transition-delay: $delay;

  /* Firefox 4 */
  -moz-transition-property: $property;
  -moz-transition-duration: $duration;
  -moz-transition-timing-function: $fn;
  -moz-transition-delay: $delay;

  /* Safari and Chrome */
  -webkit-transition-property: $property;
  -webkit-transition-duration: $duration;
  -webkit-transition-timing-function: $fn;
  -webkit-transition-delay: $delay;

  /* Opera */
  -o-transition-property: $property;
  -o-transition-duration: $duration;
  -o-transition-timing-function: $fn;
  -o-transition-delay: $delay;
}

@mixin transparent($amount) {
  filter: alpha(opacity=$amount);
	-khtml-opacity: $amount/100;
	-moz-opacity: $amount/100;
	opacity: $amount/100;
}

@mixin box_shadow($value) {
  -webkit-box-shadow: $value;
     -moz-box-shadow: $value;
          box-shadow: $value;
}

@mixin background-gradient($start_color, $end_color) {
  background-color: $start_color;
  background-image: -moz-linear-gradient(top, $start_color, $end_color);
  background-image: -ms-linear-gradient(top, $start_color, $end_color);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($start_color), to($end_color));
  background-image: -webkit-linear-gradient(top, $start_color, $end_color);
  background-image: -o-linear-gradient(top, $start_color, $end_color);
  background-image: linear-gradient(top, $start_color, $end_color);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$start_color}', endColorstr='#{$end_color}', GradientType=0);
}

@mixin button-gradient($color) {
  $start_color: lighten($color, 6%);
  @include box-shadow(inset 0 1px 0 0 rgba(#ffffff, 0.2));
  @include background-gradient($start_color, $color);
}

@mixin disabled-button-gradient($color) {
  @include button-gradient($color + hsl(0, 20, 0) - hsl(0, 0, 26));
}

@mixin active-button-gradient($color) {
  @include button-gradient($color - hsl(14, 0, 26) + hsl(0, 10, 0));
}
