{{#config.authenticated}}
<li class="post clearfix" data-post_cid="{{cid}}">
  <div class="row">
    <div class="span1 avatar-container" data-view='ProfileAvatar' data-model_cid='{{post.cid}}'>
      <a href="{{profileUrl}}"><img class="pull-left avatar" src="{{avatar}}" /></a>
    </div>

    <div class='post-container {{#has_parent}}span6{{/has_parent}}{{^has_parent}}span7{{/has_parent}} no-offset'>
      <h5>
        <span data-view='ProfileName' data-model_cid='{{post.cid}}'>
          <a href="{{profileUrl}}">{{formatted.entity}}</a>
        </span>
      </h5>

      <form class="form-horizontal post-body edit-post-form" method="POST">
        <div data-errors_container class="alert alert-error hide">&nbsp;</div>
        <div class='mentions-autocomplete' data-view='EditPostMentionsAutoCompleteTextarea'></div>
        <input class="m-btn blue pull-right" type="submit" data-disable_with='Saving...' value="Save" />
        <input class="m-btn red pull-right" type="button" data-action='delete' data-confirm="Delete this post? You're sure about that?" data-disable_with='Deleting...' value="Delete" />
        <input class="m-btn pull-right" type="button" data-action='cancel' value="Cancel" />
        <span class="char-limit pull-right">{{max_chars}}</span>

        <div class='permissions' data-view='PermissionsFields'></div>
      </form>
    </div>
  </div>
</li>
{{/config.authenticated}}
