<tr class="follower" data-id="{{id}}">
  <td>
    {{#avatar}}
    <a href="{{profileUrl}}"><img class="avatar" src="{{avatar}}" /></a>
    {{/avatar}}
    <a href="{{profileUrl}}">{{name}}</a>{{#hasName}} – <a href="{{profileUrl}}">{{entity}}</a>{{/hasName}}
  </td>
  <td>
    {{#authenticated}}
    {{^guest_authenticated}}
    <div class="m-btn red remove-follower" data-confirm="Block {{name}}?">Block</div>
    {{/guest_authenticated}}
    {{/authenticated}}
  </td>
  <td>
    {{#guest_authenticated}}
    <form class="span2 pull-rght follow-button" data-view="ProfileFollowButton" method="POST">
      <input name="entity" type="hidden" value="{{entity}}" />
      <input class="m-btn blue pull-right" type="submit" value="Follow" />
    </form>
    {{/guest_authenticated}}
    
    {{#authenticated}}
    {{^guest_authenticated}}
    <form class="span2" data-view="ProfileFollowButton" method="POST">
      <input name="entity" type="hidden" value="{{entity}}" />
      <input class="m-btn blue" type="submit" value="Follow" />
    </form>
    {{/guest_authenticated}}
    {{/authenticated}}
  </td>
</tr>
