<tr class="follower" data-view='Follower' data-cid='{{cid}}'>
  <td>
    <div data-view='ProfileAvatar' data-model_cid='{{cid}}'></div>
    <div data-view='ProfileName' data-model_cid='{{cid}}'></div>
  </td>
  <td>
    <div data-view='FollowButton'></div>
  </td>
</tr>
