{{#config.authenticated}}
<ul class="unstyled posts">
  <li class="post clearfix">
    <div class="row">
      <div class="span1 avatar-container" data-view='ProfileAvatar' data-model_cid='{{post.cid}}'>
        <a href="{{profileUrl}}"><img class="pull-left avatar" src="{{avatar}}" /></a>
      </div>

      <div class='post-container span7 no-offset'>
        <h5>
          <span data-view='ProfileName' data-model_cid='{{post.cid}}'>
            <a href="{{profileUrl}}">{{formatted.entity}}</a>
          </span>
        </h5>

        <form class="form-horizontal post-body new-post-form" method="POST">
          <div data-errors_container class="alert alert-error hide">&nbsp;</div>
          <div class='mentions-autocomplete' data-view='MentionsAutoCompleteTextarea'></div>
          <input class="m-btn blue pull-right" type="submit" value="Post" />
          <span class="char-limit pull-right">{{max_chars}}</span>

          <div class='permissions' data-view='PermissionsFields'></div>
        </form>
      </div>
    </div>
  </li>
</ul>
{{/config.authenticated}}

