<td>
  <form>
    <input class="span6" name="entity" placeholder="Entity URI" type="text" />
    <div class="alert alert-error hide"></div>
  </form>
</td>
<td>
  <input class="m-btn blue" type="submit" value="Follow" />
</td>
