<td>
  <form class='new-following-form'>
    <input class="span6" name="entity" placeholder="Entity URI" type="text" />
    <div class="alert alert-error hide"></div>
  </form>
</td>
<td>
  <input class="btn btn-primary" type="submit" value="Follow" />
</td>
