<div class="row offset1">
  <div class="span5">
    <div class="row">
      <div class="span1"><img class="img-rounded" src=
      "http://www.eonline.com/resize/100/100/0-0-300-300/eol_images/Entire_Site/2010724/300.avatar.lr.082410.jpg"
      style=
      "max-height: 50px;max-width: 50px;margin-right:4px;"></div>

      <div class="span3">
        <h5 style="margin-top: 0px;"><a href=
        "/entities/http%3A%2F%2Flocalhost%3A3000">Blue Person
        <small>localhost:3000</small></a></h5>
      </div>

      <div class="pull-right">
        <a href="/entities/http%3A%2F%2Flocalhost%3A3000/sp1wr2"
        title="2012-09-18T13:32:16-04:00">13:32</a>
      </div>
    </div>

    <div class="row">
      <p class="span4 offset1">Augue, risus mid turpis magna hac
      augue proin. Turpis non ac, ridiculus enim cum, porttitor
      lacus phasellus nascetur dis turpis sit et, lore</p>
    </div>

    <div class="row">
      <div class="navigation span6 showOnHover">
        <ul class="nav nav-pills">
          <li class="reply" title="reply"><a href=
          "#">Reply</a></li>

          <li class="repost" data-confirm="Repost?" title=
          "repost"><a href="#">Repost</a></li>

          <li class="pull-right"><a href=
          "https://apps.tent.is/status"><small>via Status
          App</small></a></li>
        </ul>
      </div>
    </div>

    <div class="reply-container span5" style="display: none;">
      <form class="form-horizontal" data-view="ReplyPostForm"
      method="post">
        <input name="mentions_post_id" type="hidden" value=
        "sp1wr2"><input name="mentions_post_entity" type="hidden"
        value="http://localhost:3000">

        <div>
          <div class="alert alert-error" style="display: none;">
            &nbsp;
          </div>
          <textarea class="span5" data-view="ExpandingTextArea"
          name="text" placeholder="What's on your mind?" rows=
          "3">
</textarea>

          <div class="clearfix">
            <span class="char-limit">140</span>
          </div>
        </div><input class="btn btn-success pull-right" type=
        "submit" value="Post" disabled="disabled">
      </form>
    </div>
  </div>
</div>

<div class="row offset1">
  <div class="span6">
    Reposted by localhost:9292
  </div>
</div>
