{{#config.authenticated}}
<div class='actions'>
  <span class='action' data-view='PostActionReply'><i class='reply' title='Reply'></i></span>

  {{^current_user_owns_post}}
  <span class='action' data-view='PostActionRepost' data-confirm="Repost?"><i class='repost' title='Repost'></i></span>
  {{/current_user_owns_post}}

  {{^is_conversation_view}}
  <span class='action' data-view='PostActionConversation'><i class='conversation' title='Conversation'></i></span>
  {{/is_conversation_view}}

  {{#current_user_owns_post}}
  <span class='action' data-view='PostActionEdit'><i class='edit' title='Edit'></i></span>
  {{/current_user_owns_post}}

  {{^is_repost}}
  {{#in_reply_to}}
  {{#config.authenticated}}
  <div class="post-sub-header action">
    <a href="{{url}}" data-view='ParentPostLink'><small>in reply to {{name}}</small></a>
  </div>
  {{/config.authenticated}}
  {{/in_reply_to}}
  {{/is_repost}}
</div>
{{/config.authenticated}}

