<div class="{{^has_parent}}row{{/has_parent}}">
  <div class="span1 avatar-container {{#has_parent}}no-offset{{/has_parent}}">
    <div data-view='PostProfileAvatar' data-post_cid='{{cid}}'>
      <a href="{{profileUrl}}"><img class="pull-left avatar" src="{{avatar}}" /></a>
    </div>
  </div>

  <div class='post-container no-offset {{#has_parent}}pull-left{{/has_parent}}{{^has_parent}}span7{{/has_parent}}'>
    <h5>
      <div class="post-date">
        <a href="{{url}}" data-view='RelativeTimestamp' data-datetime='{{published_at}}' title="{{formatted.full_published_at}}">{{formatted.published_at}}</a>
      </div>

      <span data-view='PostProfileName' data-post_cid='{{cid}}'>
        <a href="{{profileUrl}}">{{formatted.entity}}</a>
      </span>

      {{^public}}&nbsp;<span class='label {{#only_me}}label-inverse{{/only_me}}{{^only_me}}label-info{{/only_me}}' title='{{#only_me}}Only Me{{/only_me}}{{formatted.permissible_entities}}'>{{#only_me}}Private{{/only_me}}{{^only_me}}Limited{{/only_me}}</span>{{/public}}
    </h5>

    {{^is_repost}}
    {{#in_reply_to}}
    {{#config.authenticated}}
    <div class="post-sub-header">
      <a href="{{url}}" class='parent-post'><small>in reply to {{name}}</small></a>
    </div>
    {{/config.authenticated}}
    {{/in_reply_to}}
    {{/is_repost}}
    
    {{^is_repost}}
    <div class="post-body has-overflow">
      <p>{{{formatted.content.text}}}</p>
    </div>
    {{/is_repost}}
    
    {{#is_repost}}
    <div class="repost post" data-view='Repost'></div>
    {{/is_repost}}

    {{^is_repost}}
    {{> _post_inner_actions}}
    {{/is_repost}}

    {{#config.authenticated}}
    <div data-view='PostReplyForm'></div>
    {{/config.authenticated}}
  </div>
</div>

