| {{^isRepost}}
li.post.clearfix data-id='{{id}}' data-parent-id='{{parent.id}}' data-post-found='{{#parent}}yes{{/parent}}'
  | {{> _post_inner}}
| {{/isRepost}}
| {{#isRepost}}
li.post.clearfix data-parent-id='{{id}}' data-post-found='no'
  | {{> _post_inner}}
| {{/isRepost}}
