<div class="stat">
  <div class="value">{{postsCount}}</div>
  <div class="title">Posts</div>
</div>
<div class="stat">
  <div class="title">
    <a href="{{followings_url}}">Following</a>
  </div>
  <div class="value">{{followingsCount}}</div>
</div>
<div class="stat">
  <div class="title">
    <a href="{{followers_url}}">Followed by</a>
  </div>
  <div class="value">{{followersCount}}</div>
</div>
