<div class="stat">
  <div class="value">{{postsCount}}</div>
  <div class="title">Posts</div>
</div>
<div class="stat">
  <div class="title">
    <a href="/followings">Following</a>
  </div>
  <div class="value">{{followingsCount}}</div>
</div>
<div class="stat">
  <div class="title">
    <a href="/followers">Followed by</a>
  </div>
  <div class="value">{{followersCount}}</div>
</div>
