{{#authenticated}}
<form class="form-horizontal" data-view="ReplyPostForm" method="POST">
  <input name="mentions_post_id" type="hidden" value="{{id}}" /><input name="mentions_post_entity" type="hidden" value="{{entity}}" />
  <div class="span7">
    <div class="alert alert-error hide">&nbsp;</div>
    <textarea class="span7" name="text" rows="3">{{#formatted.reply_to_entities}}^{{.}} {{/formatted.reply_to_entities}}</textarea>
    <div class="clearfix">
      <span class="char-limit">{{max_chars}}</span>
    </div>
    <input class="btn btn-success pull-right" type="submit" value="Post" />
  </div>
</form>
{{/authenticated}}
