{{#authenticated}}
<form class="form-horizontal reply-post-form" data-view="ReplyPostForm" method="POST">
  <input name="mentions_post_id" type="hidden" value="{{id}}" /><input name="mentions_post_entity" type="hidden" value="{{entity}}" />
  <div class="{{#has_parent}}span6{{/has_parent}}{{^has_parent}}span7{{/has_parent}}">
    <div class="alert alert-error hide">&nbsp;</div>
    <textarea class="{{#has_parent}}span6{{/has_parent}}{{^has_parent}}span7{{/has_parent}}" name="text" rows="3">{{#formatted.reply_to_entities}}^{{.}} {{/formatted.reply_to_entities}}</textarea>
    <input class="m-btn blue pull-right" type="submit" value="Post" />
    <span class="char-limit pull-right">{{max_chars}}</span>
  </div>
</form>
{{/authenticated}}
