<span class="author-info-triangle"></span>
<div class="author-info-top-container">
  <a href='{{profile_url}}' class="pull-left"><img src='{{avatar}}' class='avatar avatar-large' /></a>
  <ul class="unstyled author-count-infos pull-left">
  	<li><h3><a href='{{profile_url}}' title='{{name}}'>{{formatted.name}}</a></h3></li>
    <li data-view='AuthorInfoFollowersCount'></li>
    <li data-view='AuthorInfoFollowingCount'></li>
    <li data-view='AuthorInfoPostsCount'></li>
  </ul>
</div>

<p class='author-info-bio'>{{formatted.bio}}</p>

<a href='{{website_url}}'>{{formatted.website_url}}</a>

<div data-view='FollowButton'></div>
