{{#config.authenticated}}
{{^config.guest_authenticated}}
<div class="row new-post-container">
  <div data-view="NewPostForm"></div>
</div>
{{/config.guest_authenticated}}
{{/config.authenticated}}

<div class="row">
  <div class="span8 fetch-pool hide" data-view="FetchPostsPool">
    <a href="#">
      <div class="alert alert-info" style="text-align:center">
        <span class="num_new_posts">0</span><span>&nbsp; New Posts</span>
      </div>
    </a>
  </div>
</div>
<div class="row">
  <div class="span8">
    <ul class="unstyled posts" data-view="PostsFeed"></ul>
  </div>
</div>
