<div class="row solid-container followings">
  <div class="span8">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#config.authenticated}}
        {{^config.guest_authenticated}}
        <tr data-view='NewFollowingForm'></tr>
        {{/config.guest_authenticated}}
        {{/config.authenticated}}

        {{#followings}}{{> _following}}{{/followings}}
      </tbody>
    </table>
  </div>
</div>
