<div class="row solid-container followings">
  <h2>Following</h2>
  <table class="table table-striped">
    <tbody>
      {{#entity_authenticated}}
      <tr data-view='NewFollowingForm'></tr>
      {{/entity_authenticated}}
    </tbody>
  </table>
  <table class="table table-striped">
    <tbody>
      {{#followings}}{{> _following}}{{/followings}}
    </tbody>
  </table>
</div>
