<div class="row">
  <div class="span8">
    {{#authenticated}}
    {{^guest_authenticated}}
    <h1 class="page-header">You are following</h1>
    <form data-view="NewFollowingForm" method="POST">
      <input class="span7" name="entity" placeholder="Entity URI" type="text" /><input class="btn btn-success pull-right" type="submit" value="Follow" />
      <div class="error alert alert-error hide"></div>
    </form>
    {{/guest_authenticated}}
    {{/authenticated}}
    
    {{#guest_authenticated}}
    <h1 class="page-header">
      <small><a href='{{profileUrl}}'>{{formatted.domain_entity}}</a></small> is Following
    </h1>
    {{/guest_authenticated}}

    {{^authenticated}}
    <h1 class="page-header">
      <small><a href='{{profileUrl}}'>{{formatted.domain_entity}}</a></small> is Following
    </h1>
    {{/authenticated}}
    
    <div class="followings" data-view="FollowingsList"></div>
  </div>
</div>
