<textarea name="text" rows="3" data-view='FullWidth'>{{#formatted.reply_to_entities}}^{{.}} {{/formatted.reply_to_entities}}</textarea>
<div class='option-picker'><ul class='picker-options' data-view='PermissionsFieldsPicker'></ul></div>
<div class='loading'>&nbsp;</div>
