{{#permissions.public}}
<i class="icon-globe"></i> Everyone<i class='icon-caret-down'></i>
{{/permissions.public}}

{{^permissions.public}}
<i class="icon-warning-sign"></i> Limited<i class='icon-caret-down'></i>
{{/permissions.public}}
