<div class='permissions-options-container'>
  <div class='show-option-picker' data-hide-text='△' data-show-text='▷'>▷</div>

  <ul class='options' data-view='PermissionsFieldsOptions'></ul>

  <div class='option-picker'>
    <div class='picker-input'>
      <input type='text' value='{{query}}' />
      <div class='loading'>&nbsp;</div>
    </div>
    <ul class='picker-options' data-view='PermissionsFieldsPicker'></ul>
  </div>

</div>
