<li class='post details'>
  <ul class='unstyled posts external'>
    {{#parent_posts}}
    {{>_post}}
    {{/parent_posts}}
  </ul>

  <ul class='unstyled posts'>
    {{#post}}
    {{> _post}}
    {{/post}}
  </ul>

  <ul class='unstyled posts external'>
    {{#child_posts}}
    {{>_post}}
    {{/child_posts}}
  </ul>
</li>
