<div class="row">
  <div class="span2">&nbsp;</div>
  <div class="span8">
    {{#profile}}
    <div class="page-header">
      <div class="row">
        <div class="span2">
          <img class="avatar-large img-rounded" src="{{avatar}}" />
        </div>
        <div class="span6 no-offset">
          <h2 class="condensed">
            {{^hasName}}
            <a href="{{{entity}}}">{{name}}</a>
            {{/hasName}}
            
            {{#hasName}}{{name}}{{/hasName}}
            
            {{#guest_authenticated}}
            <form class="pull-rght" data-view="ProfileFollowButton" method="POST" style="display:inline">
              <input name="entity" type="hidden" value="{{entity}}" />
              <input class="m-btn blue pull-right" type="submit" value="Follow" />
            </form>
            {{/guest_authenticated}}
            
            {{#hasName}}
            <br />
            <a href="{{{entity}}}"><small>{{formatted.entity}}</small></a>
            {{/hasName}}
          </h2>
          {{#bio}}
          <div class="span6 no-offset has-overflow">
            <p>{{bio}}</p>
          </div>
          {{/bio}}
        </div>
      </div>

      <div class="row">
        <div class="profile-stats">
          <div class="span2">&nbsp;</div>
          <div class="span6 no-offset" data-view="ProfileStats"></div>
        </div>
      </div>
    </div>
    {{/profile}}
  </div>
</div>

<div class="row">
  <div class="span2">&nbsp;</div>
  <div class="span8">
    <ul class="unstyled posts" data-view="DomainPostsFeed">{{#posts}}{{> _post}}{{/posts}}</ul>
  </div>
</div>
