<div class="row">
  <div class="span8 no-offset">
    <div class="page-header">
      <div class="row">
        <div class="span2">
          <img class="avatar-large" src="{{avatar}}" />

          <div class='clearfix profile-stats'>
            <div data-view='AuthorInfoFollowersCount'></div>
            <div data-view='AuthorInfoFollowingCount'></div>
            <div data-view='AuthorInfoPostsCount'></div>
          </div>
        </div>
        <div class="span6 no-offset">
          <h2 class="condensed">
            {{^has_name}}
            <a href="{{{entity}}}">{{name}}</a>
            {{/has_name}}
            
            {{#has_name}}{{name}}{{/has_name}}
            
            {{#has_name}}
            <br />
            <a href="{{{entity}}}"><small>{{formatted.entity}}</small></a>
            {{/has_name}}

            {{#config.guest_authenticated}}
            <div data-view='FollowButton' class='pull-right'></div>
            {{/config.guest_authenticated}}
          </h2>

          <div class="span6 no-offset has-overflow">
            <p>{{formatted.bio}}</p>
          </div>

          <a href='{{website_url}}'>{{formatted.website_url}}</a>
        </div>
      </div>
    </div>
  </div>
</div>

{{#config.authenticated}}
<div class="row new-post-container">
  <div data-view="NewPostForm"></div>
</div>
{{/config.authenticated}}

<div class="row">
  <ul class="unstyled posts span8" data-view="ProfilePostsFeed"></ul>
</div>
