<form class='form-horizontal search-form clearfix'>
  <div  class='search-input'>
    <input type='text' name='q' placeholder='Search for something...' data-view='FullWidth' />
  </div>

  <input type='submit' class="btn btn-primary pull-right post-button" data-disable_with="Searching..." value="Search" />

  <span class='show-option-picker' data-view='SearchFormAdvancedOptionsToggle'></span>

  <div class='advanced-options' data-view='SearchFormAdvancedOptions'></div>
</form>
